.portforlio__modal {
  align-items: center;
  background: rgba(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
}

.modal__card, .modal__card--2 {
  display: none;
}

.modal__card.modal-show, .modal__card--2.modal-show {
  align-items: center;
  background: #404040;
  display: flex;
  flex-direction: column;
  height: 495px;
  justify-content: center;
  position: absolute;
  z-index: 999;
}

.card__close, .card__close--2 {
  cursor: pointer;
}

.figure__clock {
  height: 200px;
  width: 300px;
}

.modal__description {
  margin-top: 15px;
  text-align: center;
}

.modal__link {
  color: inherit;
  margin-top: 30px;
  text-decoration: none;
}

.modal__link:hover {
  text-decoration: underline;
}