:root{
  --dark-mode: #282828;
  --light-mode: #F7FFF7;
  --header-dark: #242423;
  --header-light: #E5E5E5;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

body{
  background: var(--dark-mode);
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

body.light--mode{
  background: var(--light-mode);
  color: #000;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
}

.header{
  background: var(--header-dark);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 50px;
}

.header--light{
  background: var(--header-light);
}

.header__nav{
  display: flex;
  align-items: center;
}

.nav__menu{
  color: inherit;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.nav__menu:hover, .nav__a:hover{
  text-decoration: underline;
}

.nav__lang{
  color: inherit;
  margin-right: 10px;
  text-decoration: none;
}

.nav__lang.active{
  background: #868686;
}

.switch{
  background: #2D2D2D;
  border-radius: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 24px;
  position: relative;
  transition: 200ms linear;
}

.toggle{
  opacity: 0;
  position: absolute;
}

.switch__ball{
  background: #f2f2f2;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  transition: 200ms linear;
}

.toggle:checked + .switch .switch__ball{
  background: #000;
  transform: translateX(24px);
}

.toggle:checked + .switch{
  background: #E8DDCB;
}

.main{
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.photo__img{
  border-radius: 30px;
  width: 200px;
  height: 248px;
}

.org{
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.main__name{
  font-size: 48px;
  padding: 15px 0 15px 0;
}

.main__name:after{
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: blink .5s infinite
}

@keyframes blink{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.main__phrase{
  font-size: 18px;
}

.main__social{
  display: flex;
  margin-top: 15px;
}

.fig__svg{
  fill: #f2f2f2;
}

.fig__svg.svg-light {
  fill: var(--dark-mode);
}

.portfolio{
  height: 100vh;
  width: 100%;
  position: relative;
}

.organization{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.portfolio__title{
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__organization {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__card--1 {
  height: auto;
}

.link__img {
  background-image: url(../img/FireShot\ Capture\ 011\ -\ Pomodoro\ clock\ -\ countdown-pomodoro.netlify.app.png);
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 100%;
  transition: transform 300ms linear;
}

.link__img--2 {
  background-image: url(../img/habit-tracker.png);
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 100%;
  transition: transform 300ms linear;
}

.link__img:hover, .link__img--2:hover {
  transform: scale(1.03);
}

.card--1__title {
  color: inherit;
  text-decoration: none;
}

.title__h1 {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  margin: 10px 0 10px;
}

.card--1__view {
  margin-top: 5px;
  position: relative;
  transition: margin .25s;
}

.view__svg {
  cursor: pointer;
  fill: none;
  height: 30px;
  position: absolute;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 65px) 278px;
  stroke-dashoffset: 361px;
  transform: translate(-70%, -10px) translateZ(0);
  transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
  width: 65px;
}

.view__svg:hover {
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}

.figure__caption.figure__caption--light{
  color: #000;
}

@media (max-width: 680px){
  .main{
    flex-direction: column;
  }
}